/*
COR 2015 custom  css
to override TentyFourteen theme css

version 1.1.11

Branding colours: 
masthead: #303e48
banner: #030202
menubar: #10181f
key text: #daf543 (lime green)
button: #71b726 (pre-gradient)
link hover: #5bac0e
sidebar: #f4f4f4
footer: #ececec

*/

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);


/************************************* 
*
*	TwentyFourteen style.css overrides 
*
**************************************/

body,
button,
input,
select,
textarea {
	color: #333;
	font-family: Noto Sans, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}

a {
	color: #333;
	text-decoration: none;
}

a:active,
a:hover {
	color: #41a62a;
}

.site:before {
	width: 0;
}

.site {
	background-color: #fff;
	max-width: 100%;
	position: relative;
}

.entry-content,
.entry-summary,
.page-content {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	word-wrap: normal;
}

.hentry {
	margin: 0 auto 24px;
	max-width: 100%;
	
}

.site-content .entry-header,
.site-content .entry-content,
.site-content .entry-summary,
.site-content .entry-meta,
.page-content {
	margin: 0 auto;
	max-width: 80%;
}

.wp-post-image {
	width: 644px;
	height: auto;
}


#secondary {
	display: none;
  width: 0;
  height: 0;
}

.search-field {
	display: none;
}

.search-submit {
	display: none;
}

#supplementary {
  max-width: 950px;
}
.site-header {
	background-color: #303e48;
	width: 100%;
  max-width: 100%;
	height: 120px;
	z-index: 100;
}
.header-main {
	min-height: 48px;
	padding: 0 10px;
}

.content-sidebar {
	background-color: #f4f4f4;
	display: block;
	float: right;
  margin-top: 16px;
/*	margin-left: 8%; */
	margin-bottom: 46px;
	width: 30%;
/*	max-width: 300px;
	max-height: 564px; */
	border: 0;
	padding: 10px 20px 10px;
	border-radius: 6px;	
}

.content-sidebar .widget .widget-title {
	border-top: 0;
	color: #2b2b2b;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin: 0 0 18px;
	padding-top: 7px;
	text-transform: none;
}

.content-sidebar .widget input[type="button"],
.content-sidebar .widget input[type="reset"],
.content-sidebar .widget input[type="submit"] {
	background-color: #71b726;
	border: 0;
	color: #fff;
}

/* Primary Sidebar, Footer Sidebar */
.widget {
	font-size: 14px;
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	line-height: 1.2857142857;
	width: 100%;
	word-wrap: break-word;
	padding-bottom: 20px;
}

.widget button,
.widget .button,
.widget input[type="button"],
.widget input[type="reset"],
.widget input[type="submit"] {
	background-color: #71b726;
	border: 0;
	font-size: 12px;
	padding: 10px 15px 10px;
}

.widget p {
	font-family: 'Noto Sans', sans-serif;
	font-size: 10px;
	margin-bottom: 18px;
}

.widget a {
	font-family: 'Noto Sans', sans-serif;
	font-size: 10px;
	color: #303e48;
}

.widget a:hover {
	color: #41a62a;
}

.widget_nav_menu li {
	border-top: 0;
	padding: 8px 0 0px;
}

.footer-sidebar .widget .widget-title,
.primary-sidebar .widget .widget-title {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.6363636363;
	margin: 0 0 2px 0;
	color: #303e48;
	text-transform: none;
}

.site-footer {
	background-color: #ececec;
	font-size: 12px;
	position: relative;
	z-index: 3;
}


/*************************************
*
*	custom content display, 
*	cor index page and corissue posts
*
**************************************/

.site-headerContainer {
	background-color: #303e48;
  max-width: 950px;
	height: 120px;
  margin-left: 16.6%;
}

.headerLogoLink {
	background: transparent;
  border: none;
  outline: none;
  display: block;
	position: relative;
	margin: 0 auto;
  margin-top: 28px;
  height: 67px;
  width: 67px;
  float: left;
  cursor: pointer;
}

.headerLogo {
	width: auto;
	height: 67px;
}

.logoutBlock {
	display: inline-block;
	position: relative;
	float: right;
	margin-top: -44px;
	margin-right: 50%;
}

.logoutBlock a {
	font-family: 'Noto Sans', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
}

.logoutBlock a:hover {
	color: #daf543
}

.portnerLogoLink {
	background:transparent;
  border:none;
  outline:none;
  display:block;
  margin: 0 auto;
  margin-top: 28px;
	float: right;
	height: 40px;
	width: 142px;	
  cursor:pointer;
}

.portnerLogo {
	height: 40px;
	width: 142px;
}

.indexHeader {
	position: relative;
	z-index: 15;
	width: 100%;
  height: 100%;
	min-height: 220px;
  background-color: #030202;
}

.headerMenubar {
  width: 100%; 
  height: 50px; 
  background-color: #10181f;
}

.headerMenubarContent {
  max-width: 950px; 
  color: #ffffff; 
  padding-top: 12px;
  font-size: 14px;
}

.headerMenubarContent a {
  font-weight: 700;
  color: #ffffff;
}

.headerMenubarContent a:hover {
	color: #daf543
}

.headerMenubarDivider {
  color: #daf543; 
  font-size: 16px;
}

.headerFloat {
  max-width: 950px;
}

.agoraLogin {
	display: block;
	position: absolute;
}

.agoraLoginPage {
	display: block;
	position: relative;
	background-color: #303e48;
	width: 380px;
	height: 300px;
	padding-left: 12%;
	padding-top: 1%;
	margin-top: 3%;
	margin-bottom: 20px;
	margin-left: 8.3%;
	border-radius: 12px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
}

.indexImageContainer {
  max-width: 1980px; 
  max-height: 389px;
  /*
  w: 1980, h: 438
  */
  margin: 0 auto;
}

.indexImage {
	background-color: #000;
	width: 100%;
	height: auto;
	min-height: 260px;
  max-height: 389px;
}

#signupButton {
	width: 440px;
	height: 60px;
	margin-top: 12px;
	margin-left: 10.6%;
	padding: 8px;
	text-align: center;
}

#signupButton input[type="submit"] {
	width: 100%;
	height: 100%;
	float: right;
	margin-top: 4px;
	padding: 4px 20px 4px;
	
	border-color : #96ce2b;
	background: #96ce2b;
	background: -moz-linear-gradient(top, #96ce2b 0%, #6bb325 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96ce2b), color-stop(100%,#6bb325));
	background: -webkit-linear-gradient(top, #96ce2b 0%,#6bb325 100%);
	background: -o-linear-gradient(top, #96ce2b 0%,#6bb325 100%);
	background: -ms-linear-gradient(top, #96ce2b8 0%,#6bb325 100%);
	background: linear-gradient(top, #96ce2b 0%,#6bb325 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96ce2b', endColorstr='#6bb325',GradientType=0 );
	box-shadow: 0 0 10px #a9a9a9;
	border: 0;
	border-radius: 5px;
	color: #000;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
}

#signupButton input[type="submit"]:hover, 
#signupButton input[type="submit"]:focus {
	border-color : #6bb325;
	background: #6bb325;
	background: -moz-linear-gradient(top, #6bb325 0%, #96ce2b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bb325), color-stop(100%,#96ce2b));
	background: -webkit-linear-gradient(top, #6bb325 0%,#96ce2b 100%);
	background: -o-linear-gradient(top, #6bb325 0%,#96ce2b 100%);
	background: -ms-linear-gradient(top, #6bb325 0%,#96ce2b 100%);
	background: linear-gradient(top, #6bb325 0%,#96ce2b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bb325', endColorstr='#96ce2b',GradientType=0 );
}

/* order now lozenge type button combo */
.lozengeWrapper {
	margin-bottom: 46px;
}
.lozengeIntro {
	width: 280px;
	background: #00222e;
	border-radius: 45px;
	padding: 6px 20px 6px 0px;
}
.lozengeIntro p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: 700;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
	padding-left: 12px;
	border: 0px none;
	line-height: 2.5;
}

.lozengeButton {
	width: 280px;
	height: 65px;
	position: absolute;
  display: inline-block;
  margin-left: 250px;
  margin-top: -77px;
}
.lozengeArrow {
	background-image: url(http://coradviser.com.au/wp-content/uploads/2015/05/orderArrow-sml.png);
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
	margin: 27px 0 0 186px;
	position: absolute;
	z-index: 1;
}
.lozengeOrder {
	width: 230px;
	height: 51px;
	cursor: pointer;
	margin: 0 auto;
	padding: 7px 0 0 25px;
	border-radius: 45px;
	display: inline-block;
	position: absolute;
	background: #96ce2b;
	background: -moz-linear-gradient(top, #96ce2b 0%, #6bb325 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96ce2b), color-stop(100%,#6bb325));
	background: -webkit-linear-gradient(top, #96ce2b 0%,#6bb325 100%);
	background: -o-linear-gradient(top, #96ce2b 0%,#6bb325 100%);
	background: -ms-linear-gradient(top, #96ce2b8 0%,#6bb325 100%);
	background: linear-gradient(top, #96ce2b 0%,#6bb325 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96ce2b', endColorstr='#6bb325',GradientType=0 );
}
.lozengeText {
	margin-top: 20px;
	text-decoration: none;
	color: #ffffff;
	font-size: 1.875em;
	font-weight: 700;
}

.lozengeOrder:hover {
	color: #ffffff;
	background: #6bb325;
}
/* end lozenge */

.indexMain {
	display: block;
	width: 100%;
  float: left;
	padding-top: 8px;
}
.indexIntroContainer {
	max-width: 950px; 
}
.indexContainer {
	max-width: 950px; 
}
.indexIntroText {
  width: 60%;
  height: 100%;
  float: left;
}

.indexSidebar {
  width: 40%;
  max-width: 325px;
  height: 100%;
  float: right;
}

.indexSidebar img {
  width: 100%;
  height: auto;
}
.indexIntro {
	float: left;
  width: 90%;
}

.indexPromo {
	float: left;
	width: 90%;
	list-style-image: url('http://coradviser.com.au/wp-content/uploads/2015/03/PTRCOR_icon.png');
}

li.indexCopy {
	padding-bottom: 14px;
}

.indexPromoImage {
	float: left;
	padding-right: 12px;
	background-color: #fff;
	height: 10px;
	width: 20px;
}

.indexHr {
  background-color: #e1e1e1;
  width: 100%;
  max-width: 950px;
  height: 1px;
	margin-top: 24px;
	margin-bottom: 24px;
}

.indexTheTeam {
  width: 100%;
  max-width: 950px;
  height: 100%;
  margin: 0 auto;
}

.indexAvatar {
  width: 210px;
	float: left;
	padding-right: 64px;
	padding-top: 4px;
  margin-bottom: 12px;
}

.indexEditor {
  width: 28%;
  max-width: 300px;
  height: 100%;
	float: left;
  margin-right: 5%;
}

.indexPortner {
	width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.indexTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #333;
}

.indexCopy {
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #333;
}

.indexCopy a {
  text-decoration: none;
  color: #67b812;
}

.issueFloat {
  max-width: 950px;
}

#issueWrapper {
	display: block;
	padding-bottom: 24px;
	float: left;
	width: 64%;
}
	
.issueTitle {
	padding-top:50px;
}

.issuePageHeader {
	display: block;
	width:100%;
	position:relative;
	background: #000;
	height: 120px;
  background: url('http://coradviser.com.au/wp-content/uploads/2015/02/corissue-banner.png');
}
.issuePageTitle {
	z-index: 15;
	color: #daf543;
	font-family: 'Oswald', sans-serif;
	font-size: 26pt;
	font-weight: 300;
	line-height: 1;
  margin: 0;
  padding-top: 36px;
}
.listUnit {
	float: left;
	width: 100%;
	padding-bottom; 24px;
}

.issueHeaderWrapper {
	width:100%;
}

.issueHeader {
	font-size: 17px;
	font-weight: 700;
	color: #000;
	padding-right: 10px;
}

.issueDate {
	font-size: 12px;
	color: #333333;
	text-transform: uppercase;
}

.issueListWrapper {
	width: 100%;
	border-bottom: #959595 solid 3px;
	margin-top: 15px;
	margin-bottom: 58px;
}

.hrListTop {
	background-color: #959595;
	border: 0;
	width: 100%;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.issueThumb {
	float:left;
	width: 124px;
	height: 175px;
	padding-top: 18px;
}

.fullIssue {
	font-size: 14px;
	font-weight: 700;
	color: #333333;
	margin-top: 12px;
}

.fullIssue ul {
	margin-bottom:0px;
}

.issueList {
	float: right;
	color: #333333;
	font-size: 14px;
	line-height: 2.5;
	width: 74%;
}

.issueList ul {
	list-style-image: url('http://coradviser.com.au/wp-content/uploads/2015/02/downArrow.png');
	
}

[class*='icon'] > a:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 17px;
}       
.iconPdf > a:after{
	background: url('http://coradviser.com.au/wp-content/uploads/2015/02/icon_pdf.jpg') no-repeat top right;
}
.iconDoc > a:after{
    background: url('http://coradviser.com.au/wp-content/uploads/2015/02/iconWord.jpg') no-repeat top right;
}
/*
not yet implemented
.iconPpt > a:after{
    background: url('../iconPpt.jpg') no-repeat top right;
}
*/
.iconXls > a:after{
    background: url('http://coradviser.com.au/wp-content/uploads/2015/02/iconExcel.jpg') no-repeat top right;
}

.portnerPressFooter {
	padding-top: 4px;
	text-align: right;
	color: #303e48;
}

.copyright {
	font-family: 'Noto Sans', sans-serif;
	font-size: 10px;
	padding-bottom: 16px;
}

.socialMediaIcons  {
	padding: 15px 0 15px 0;
}

.articleContent {
	float: left;
  width: 60%;
  margin-top: 15px;
}

.articleFloat {
  max-width: 950px;
}
.articleEditor {
	float: left;
  width: 100%;
}

.articleAvatar {
	float: left;
	padding-right: 24px;
	padding-top: 4px;
}

p.articleByline {
  font-size: 12px;
  text-transform: uppercase;
}

ul.articleListing {
  font-size: 12px;
  margin-bottom: 6px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 300px;
}

.more-link {
  color: #67b812; 
}

.sidebarHr {
  background-color: #e1e1e1;
  width: 300px;
  height: 1px;
	margin: 16px 0;
}

/**************

	Agora login

**************/

.mw_login {
	width: 340px;
	margin-top: 8%;		
}
		
.mw_login .title {
	color:#daf543; 
	font-size:20px;
	font-family: 'Oswald', sans-serif;			
	font-weight: 400;
	padding-bottom: 4%;
}

.mw_login .userWelcome {
	color:#fff;
	font-size:14px;
	font-family: 'Noto Sans', sans-serif;			
	font-weight: 400;
}

.mw_login .userGoto {
	color:#daf543;
	font-size:18px;
	font-family: 'Noto Sans', sans-serif;			
	font-weight: 700;
}
		
.mw_login p {
	font-size: 12px;
	color: #fff;
	margin-bottom: 12px;
}

p.login-username {
	width: 100%;
	height: 40px;
}

.mw_login label[for=user_login] {
	font-size: 12px;
	text-align: left;
	color: #fff;
}

.mw_login label[for=user_pass] {
	font-size: 12px;
	text-align: left;
	color: #fff;
}

.mw_login a {
	text-decoration: none;
}

.mw_login .error {
	font-size: 12px;
	font-weight: bold;
	color: red;
}
		
.mw_loginform {
	padding-left: 0;
	padding-right: 0;
}
		
.mw_loginform input[type='text'] {
	float: right;
	width: 268px;
	height: 32px;
	padding: 2px 8px;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 8px;
	font-size: 16px;
}
		
.mw_loginform input[type='password'] {
	float: right;
	width: 268px;
	height: 32px;
	padding: 2px 8px;
	border: 1px solid black;
	margin-top: 0px;
	border-radius: 5px;
	margin-bottom: 8px;
	font-size: 16px;
}

.login-submit {
	float: right;
	width: 90px;
	height: 36px;
}		
		
.login-submit input[type="submit"] {
	width: 90px;
	height: 36px;
	float: right;
	margin-top: 4px;
	padding: 4px 20px 4px;
	border-color : #96ce2b;
	background: #96ce2b;
	background: -moz-linear-gradient(top, #96ce2b 0%, #6bb325 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96ce2b), color-stop(100%,#6bb325));
	background: -webkit-linear-gradient(top, #96ce2b 0%,#6bb325 100%);
	background: -o-linear-gradient(top, #96ce2b 0%,#6bb325 100%);
	background: -ms-linear-gradient(top, #96ce2b8 0%,#6bb325 100%);
	background: linear-gradient(top, #96ce2b 0%,#6bb325 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96ce2b', endColorstr='#6bb325',GradientType=0 );		
	border: 0;
	border-radius: 5px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
		
.login-submit input[type="submit"]:hover, 
.login-submit input[type="submit"]:focus {
	border-color : #6bb325;
	background: #6bb325;
	background: -moz-linear-gradient(top, #6bb325 0%, #96ce2b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bb325), color-stop(100%,#96ce2b));
	background: -webkit-linear-gradient(top, #6bb325 0%,#96ce2b 100%);
	background: -o-linear-gradient(top, #6bb325 0%,#96ce2b 100%);
	background: -ms-linear-gradient(top, #6bb325 0%,#96ce2b 100%);
	background: linear-gradient(top, #6bb325 0%,#96ce2b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bb325', endColorstr='#96ce2b',GradientType=0 );
}
		
.mw_forgot {
	position: relative;
	display: block;
	width: 33%;
	float: right;
	text-align: left;
	padding-top: 6px;
}
		
.mw_forgot_link  {
	font-size: 10px;
	font-weight: bold;
	color: #fff;
}
		
.subsHere  {
	font-size: 12px;
	color: #daf543;
	float:right;
	padding-top: 5px;	
}
		
.mw_login .error{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #ff0000;
}	


#mw_reset{
	display: block;
	position: relative;
	background-color: #303e48;
	width: 400px;
	height: 200px;
	padding: 25px;
	margin: 60px auto 60px;
	border-radius: 12px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
}
	
#mw_reset .error {
	text-align: center;
	font-size: 14px;
	color: #fff;
	padding-top: 8px;
}
	
.mw_resetform {
	display: block;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#mw_reset label{
	width: 50%;
	display: block;
	float: left;
	text-align: left;
	margin-right: 10px;
}
	
#mw_reset  p.reset-email {
	padding-top: 1px;
	padding-left: 12px;
	margin-bottom: 12px;
	color: #fff;
	font-size: 16px;
}
	
#mw_reset input[type='text'] {
	float: left;
	width: 250px;
	height: 30px;
	margin: 4px 0px;
	padding: 2px 8px;
	border: 1px solid black;
	font-size: 16px;	
}
	
#mw_reset .reset-submit input[type="submit"] {
	position: relative;
	height: 30px;
	float: right;
	margin: -34px 0 0 190px;
	padding: 4px 24px;
	background-color: #71b726;
	border: 0;
	border-radius: 5px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}
	
#mw_reset .reset-submit input[type="submit"]:hover, 
#mw_reset .reset-submit input[type="submit"]:focus {
	background-color: #5bac0e;
	color: #ffffff;
}

#mw_reset h2{
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	margin: 6px auto;
	color: #fff;
}

#mw_reset .remember_fieldgroup{

}

/* leadgen banner ad */
.leadgenBannerContainer {
  width: 90%;
  max-width: 950px;
  height: 100%;
  max-height: 275px;
  margin: 0 auto;
  padding: 12px;
  background-color: #cfe9f9;
	background: -moz-linear-gradient(top, #f6fbfe 0%, #cfe9f9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6fbfe), color-stop(100%,#cfe9f9));
	background: -webkit-linear-gradient(top, #f6fbfe 0%,#cfe9f9 100%);
	background: -o-linear-gradient(top, #f6fbfe 0%,#cfe9f9 100%);
	background: -ms-linear-gradient(top, #f6fbfe9 0%,#cfe9f9 100%);
	background: linear-gradient(top, #f6fbfe 0%,#cfe9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6fbfe', endColorstr='#cfe9f9',GradientType=0 );
}

.leadgenBanner {
  max-width: 950px;
  height: 100%;
}

.leadgenBannerTextContainer {
  display: block; 
	float: left;
  width: 60%; 
	height: auto;
}
.leadgenBannerText { 
	float: left; 
  padding-top: 36px; 
  color: #000;
}

.leadgenBannerText img { 
  margin-top: -12px;
}
.leadgenSignupFormContainer {
  display: block;
  position: relative;
	float: right;
  width: 320px;
  height: 100%;
  margin-top: 24px;
}

#leadgenSignupForm {
	margin: 12px 0;
  padding: 16px 12px;
	background-color: #f2f2f2;
	border-radius: 8px;
  box-shadow: 0 0 10px #a9a9a9;
}

.leadgenFormField {
  text-align: right; 
  font-size: 12px; 
  height: 28px;
  margin-bottom: 4px;
}

.leadgenFormField input[type="submit"] {
  width: 184px; 
  height: 28px;
  padding: 0;
}

.leadgenBannerFooter {
	font-size: 10px;
}

/* Subscribe banner ad */

.subBannerPromo {
	width: 540px;
	height: 320px;
	display: block;
	margin-left: 11%;
	margin-bottom: 24px;
}

.subBannerPromo a {
	color: #fff;
	text-decoration: none;
}

.subBannerLogo {
	position: relative;
	display: block;
	float: left;
	width: 120px;
	height: 170px;
	margin-top: 38px;
	padding-left: 24px;
}

.subBannerIntro {
	display: block;
	position: relative;
	margin-top: 30px;
	float: left;
	width: 340px;
	height: 100px;
}

h2.subBanner {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 0.5px;
	margin: 0;
	line-height: 150%;
}

.subBannerListing {
	display: block;
	position: relative;
	width: 340px;
	float: left;
	margin-bottom: 12px;
}

ul.subBannerList {
	list-style: disc;
	color: #daf543;
	padding-right: 12px;
	margin: 0 0 12px 16px;
}

ul.subBannerList li {
	color: #daf543;
	margin-bottom: 12px;
}

.subBanner p {
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #030202;
	line-height: normal;
	letter-spacing: normal;
}

/**************

	Email/Landing 
	Bulletin templates

**************/

/* email template */

.emailMain {
	display: block;
	width: 100%;
	padding-top: 0px;
}

.containerNarrow {
	display: block;
	max-width: 650px;
	width: 95%;
	height: 100%;
  margin: 0 auto;
}

.contentBlock {
	width: 100%;
	height: 100%;
	display: block;
	padding: 6px;
	margin-bottom: 0px;
	color: #000;
	text-align: left;
	font-size: 14px;
}

#megaButton {
	margin-top: 24px;
	margin-bottom: 24px;
	margin-left: 2%;
	max-width: 444px;
	background-color: #ececec;
	border: solid 2px #cdcccc;
	border-radius: 5px;
	text-align: center;
	padding-top: 12px;	
}

a.reportLink {
	font-size: 18px;
	color: #67b812;
	text-decoration: none;
}
a:active.reportLink,
a:hover.reportLink {
	color: #95d21f;
}

hr#emailLine {
	display: block;
	height:2px;
	width: 100%;
	border-width:0;
	color: #cdcccc;
	background-color: #cdcccc;
	margin-top: 24px;
	margin-bottom: 24px;
}

#emailIntroImage img{
	width: 254px;
	height: 114px;
	float: left;
	margin-right: 50%;
	margin-bottom: 30px;
}

h2#emailHeading {
	font-size: 24px;
}

/* landing/signup template */

.landerMain {
	display: block;
	width: 100%;
	padding-top: 0px;
}

#landingWrapper {
	width: 95%;
	max-width: 700px;
	height: 100%;
  margin: 0 auto;
}

#landingWrapper hr {
	height:2px;
	border-width:0;
	color: #cdcccc;
	background-color: #cdcccc;
	margin-top: 4px;
	margin-bottom: 4px;
}

#landingWrapper td {
	padding: 0px;
	float: right;
}

#landingImage img{
	max-width: 340px;
	height: auto;
	float: left;
	margin-top: 12px;
}

#landingWrapper #introImage {
	padding-bottom: 4px;
}

#landingWrapper input[type="submit"] {
	background: #67b812; /* Old browsers */
	background: -moz-linear-gradient(top,  #67b812 0%, #95d21f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67b812), color-stop(100%,#95d21f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #67b812 0%,#95d21f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #67b812 0%,#95d21f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #67b812 0%,#95d21f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #67b812 0%,#95d21f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b812', endColorstr='#95d21f',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	border: 0;
	border-radius: 5px;
	padding: 8px 18px;
	margin-left: 107px;
}

#landingWrapper input[type="submit"]:hover {
	background: #67b812;
}

#leftLanding {
	max-width: 340px;
	float: left; 
	display: block;
	margin-right: 24px;
	margin-bottom: 2px;
}

#rightlanding { 
	max-width: 340px;
	float: left;
	display: block;
	margin-left: 48px;
	margin-bottom: 12px;
}

ul#landing {
	list-style-type: disc;
	color: #67b812;
	padding: 0px;
	margin: 12px;
	padding-left: 18px;
}
ul li.landingList {
	background-position: 0px top;
	padding-left: 6px;
	padding-bottom: 12px;
	font-size: 14px;
}

#landingSignupForm  {
	display: block;
	float: left;
	width: 360px;
	height: 220px;
	background-color: #efefef;
	border-radius: 5px;
	padding: 12px;
}

#landingSignupForm label {
	font-size:12px;
}

input.landingSignup {
	margin-top:10px;
	width: 240px;
	height: 30px;
	margin-left: 10px;
	border-color: lightgrey;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	font-size:12px;
}

.containerFooter {
	display: block;
	max-width: 600px;
	width: 95%;
	height: 100%;
	margin: 0 auto;
}

.containerFooter p {
	font-size: 12px;
}

/* Bulletin template */
#CORLogo {
	width: auto;
	height: 47px;
	padding-top: 28px;
}

#bulletinLogo {
	position: relative;
	margin-top: -46px;
	margin-left: 90px;
	width: 118px;
	height: 45px;
}

#bulletinWrapper {
	max-width: 644px;
  margin: 0 auto;
}

#bulletinWrapper p {
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #030202;
	line-height: normal;
	letter-spacing: normal;
}

#bulletinWrapper ul#newsbrief {
	width: 270px;
	list-style-image: url('http://coradviser.com.au/wp-content/uploads/2015/03/COR-Email-bulletpoint.gif');
	padding-right: 12px;
	margin-left: 12px;
}
		
#bulletinWrapper ul li {
	font-size: 14px;
	color: #000;
	font-weight: 700;
	padding-bottom: 22px;
	padding-right: 22px;
}

ul#benefits {
	list-style: disc;
	color: #daf543;
	padding-right: 12px;
	margin: 0 0 0 12px;
}

ul#benefits li {
	color: #daf543;
}

.bulletinPromo {
	width: 540px;
	height: 320px;
	display: block;
	margin: 0 auto;
	margin-bottom: 24px;
}

#bulletinBanner {
	display: block;
	float: left;
	width: 104px;
	height: 274px;
	padding-top: 46px;
	padding-left: 36px;
}

#bulletinSubscribe {
	position: relative;
	display: block;
	float: left;
	width: 380px;
	height: 82px;
	padding-top: 38px;
	padding-left: 20px;
}

#bulletinBenefits {
	display: block;
	width: 380px;
	float: left;
	padding-left: 20px;
	margin-bottom: 12px;
}

h2.bulletinSub {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 0.5px;
	margin-top: 0;
	line-height: 150%;
}

h2.bulletinHeading {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 400;
	color: #030202; 
	letter-spacing: 0.5px;
}

h3.bulletinHeading {
	font-size: 15px;
	line-height: 250%;
	letter-spacing: 0.5px;
}

p.bulletinSub {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff; 
	letter-spacing: 0.5px;
}

hr.bulletin {
	height:2px;
	border-width:0;
	color: #cdcccc;
	background-color: #cdcccc;
	margin-top: 18px;
}

.bulletinButton {
	background: #67b812; /* Old browsers */
	background: -moz-linear-gradient(top,  #67b812 0%, #95d21f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67b812), color-stop(100%,#95d21f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #67b812 0%,#95d21f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #67b812 0%,#95d21f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #67b812 0%,#95d21f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #67b812 0%,#95d21f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b812', endColorstr='#95d21f',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	border: 0;
	border-radius: 5px;
	padding: 4px 8px;
	margin-top: 14px;
	margin-left: 107px;
}

.bulletinButton:hover {
	background: #67b812;
}

.bulletinBlock {
	max-width: 540px;
}

.bulletinNewsbrief {
	width: 321px;
	height: 100%;
	float: left;
	padding-top: 8px;
}

.bulletinSpacer {
	display: block-inline;
	position: relative;
	width: 2px;
	height: 325px;
	float: left;
	background-color: #c0c5c8;
}

.bulletinHelpdesk {
	width: 305px;
	float: left;
	padding-top: 8px;
	padding-left: 16px;
	text-align: center;
}
/******************************************************
*	custom media queries + style.css overrides
*******************************************************/
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
@media screen and (max-width: 950px) {	
	.leadgenSignupFormContainer {
    float: none;
    margin: 0 auto;
    padding: 12px 0;
    position: relative;
    clear: both;
  }
  .leadgenBannerTextContainer {
    float: none;
    width: 80%;
    margin: 0 auto;
  }
  .leadgenBannerText img { 
    display: none;
  }
  #signupButton {
		white-space: normal;
		margin-left: 0%;
		width: 80%;
		height: 80px;
	}
	.indexContent {
		width: 90%;
		margin-left: 8.3%;
	} 
  .indexIntroText {
    width: 100%;
  }
	.lozengeButton {
		margin: 0 auto;
    position: relative;
    display: block;
    width: 260px;
	}
	.lozengeArrow {
		margin: 6px 0 0 198px;
	}
	.lozengeIntro {
    width: 240px;
    margin: 0 auto;
	}
  .lozengeIntro p {
    font-size: 17px;
  }
  .lozengeText {
    margin-top: 0;
  }	
  .indexEditor {
    float: none;
    width: 340px;
    margin: 0 auto;
  }
  .indexPortner {
    margin-right: 4%;
  }
  .indexSidebar {
    float: none;
    margin: 0 auto;
    padding-right: 4%;
    min-width: 280px;
  } 
	.indexAdvisor {
		margin-left: 6%;
	}	
	#issueWrapper {
    float: none;
    width: 90%;
    margin-left: 4%;
	}
	.issueThumb {
		display: none;
	}
	.issueListWrapper {
		width: 100%;
	}	
	.issueList {
		float: left;
		width: 100%;
	}
	.articleContent {
    width: 90%;
    float: none;
    margin-left: 4%;
  }
  .site-headerContainer {
    margin-left: 4%;
    margin-right: 4%;
  }
	.headerMenubarContent {
    margin-left: 4%;
  }  
  .headerFloat {
    margin-left: 4%;
  }
	#supplementary {
    width: 320px;
    margin: 0 auto;
    margin-left: 30%;
	}
	#content-sidebar {
    margin: 0 auto;
    margin-bottom: 12px;
	}
	.content-sidebar {
    clear: both;
    margin: 0 auto;
    width: 340px;
    float: none;
	}
	.containerFooter {
		margin-left: 8.3%;
	}
  .portnerPressFooter {
		float: left;
		text-align: left;
	}
}
@media screen and (min-width: 951px) {	
  .headerFloat {
    margin: 0 auto;
  }
  .site-headerContainer {
    margin: 0 auto;
  }
	.headerMenubarContent {
    margin: 0 auto;;
  }
  .leadgenBanner {
    margin: 0 auto;
  }
  .indexIntroContainer {
    margin: 0 auto;     
  }
  .indexContainer {
    margin: 0 auto;
  }
  .issueFloat {
    margin: 0 auto;
  }
	.issueThumb {
		display: block;
	}	
	.issueList {
		float: right;
		width: 66%;
	}
  .articleFloat {
    margin: 0 auto;
  }
	.indexAvatar {
		display: block;
	}	
	.indexAdvisor {
		margin-left: 6%;
	}	
	.textwidget {
		padding-top: 0;
	}	
	#supplementary {
		margin: 0 auto;
	}	
	.content-sidebar {
		margin-left: 2%;
	}  
	.footer-sidebar .widget {
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		float: left;
		padding: 0;
		width: 25%;
	} 
}
